body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F9;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #F4F4F9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

input[type='text'],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #F4F4F9;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #28A745;
    color: #F4F4F9;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #C82333;
}

#notesContainer {
    margin-top: 20px;
}

.note {
    background-color: #F4F4F9;
    padding: 15px;
    border: 1px solid #F4F4F9;
    margin-bottom: 10px;
    border-radius: 4px;
}

.note h2 {
    margin: 0;
    color: #333333;
}

.note p {
    margin: 5px 0;
    color: #666666;
}