body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F9;
    margin: 20px;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px
}

.add-form input,
.add-form textarea {
    padding: 8px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-size: 16px
}

.add-form button {
    padding: 10px 15px;
    background-color: #28A745;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-form button:hover {
    background-color: #218838;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #DDDDDD;
    transition: background-color 0.3s ease;
}


.task-item:hover {
    background-color: #F9F9F9;
}


.task-details {
    flex-grow: 1;
    margin-right: 10px
}

.title {
    font-size: 18px;
    color: #333333;
    margin-bottom: 5px;
}

.description {
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
}

.due_date {
    font-size: 12px;
    color: #999999;
}

.task-actions {
    display: flex;
    gap: 10px;
}

.update-btn,
.delete-btn {
    padding: 5px 10px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-btn {
    background-color: #28A745;
}

.delete-btn {
    background-color: #DC3545;
}

.update-btn:hover {
    background-color: #218838;
}


.delete-btn:hover {
    background-color: #C82333;
}

.complete .title {
    text-decoration: line-through;
    color: #777777;
}